@import "/src/assets/sass/_variables.scss";

.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-gap: 1rem;
  align-items: center;
  position: relative;
}
.header-item {
  display: flex;
  align-items: center;
}
.header-item span {
  color: rgb(179, 179, 179);
  font-weight: bolder;
}
.header-input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#search-input {
  height: 100%;
  width: 60%;
  background: transparent;
  border: none;
  border-bottom: 1px solid $color-dark-primary;
  caret-color: $color-dark-primary;
  color: $color-dark-primary;
  font-size: $font-size-xs;
  padding: 0 0.2rem;
  outline: none;
  @media screen and (min-width: $screen-desktop) {
    width: 20%;
  }
}

@keyframes search-input-keyframe {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.hidden-search-input {
  opacity: 0;
  visibility: hidden;
}
.visible-search-input {
  animation-name: search-input-keyframe;
  animation-duration: 1s;
}