.new-task-footer {
  padding-top: 2rem;
  justify-content: end;
}
.new-task-add-container {
  display: flex;
  justify-content: flex-end;
}
.new-task-add {
  width: 50%;
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  background: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    font-size: 1rem;
  }
  span:last-child {
    font-size: 2rem;
  }
}