@import "/src/assets/sass/_variables.scss";

.new-task-page-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  animation: 0.5s ease-out pageLoadingAnimation;
  @media screen and (min-width: $screen-desktop) {
    padding: 0 15rem;
  }
}
.new-task-container {
  display: grid;
  gap: 2rem;
  height: 100%;
  align-content: space-evenly;
}

.new-task-main {
  display: grid;
  gap: 0.5rem;
  padding-top: 1rem;
}
.task-options-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
  padding-top: 1rem;
}
.category-list-item {
  color: #ffffff;
  font-size: 1rem;
}
@keyframes pageLoadingAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}