@import "/src/assets/sass/_variables.scss";

.task-time-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  row-gap: 1rem;
  @media screen and (min-width: $screen-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
#daily {
  grid-column: 2;
  @media screen and (min-width: $screen-desktop) {
    grid-column: 3;
  }
}