.new-task-input-container {
  height: 4rem;
}
.new-task-input-container {
    input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5rem;
      background: rgb(40, 57, 77);
      caret-color: #ffffff;
      font-size: 1rem;
      color: #ffffff;
      padding: 0 2rem;
    }
  &:focus {
    text-underline: none;
  }
}