@import "/src/assets/sass/_variables.scss";

.nav-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  width: min-content;
  padding: 0.6rem 0;
  cursor: pointer;
}
.nav-item {
  span {
    font-size: $font-size-s;
    font-weight: normal;
    padding-left: 0.5rem;
  }
}
