@import "/src/assets/sass/_variables.scss";

.user-name {
  padding: 1.5rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  @media screen and (min-width: $screen-desktop) {
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
  }
  span {
    font-size: $font-size-xxl;
    line-height: 2.5rem;
  }
}