@import "/src/assets/sass/_variables.scss";

.tasks-container {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  max-height: 40vh;
}
.tasks-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.tasks-container-translated {
  max-height: 30vh;
}
.task-container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.task-items {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 2rem;
}
.task-item {
  background-color: $background-color-dark-primary;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  list-style: none;
}