@import "/src/assets/sass/_variables.scss";
.notifications-tooltip-container {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 2rem;
  height: 10rem;
  width: 60vw;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  @media screen and (min-width: $screen-desktop) {
    width: 30vw;
  }
}