.header-item {
  display: flex;
  align-items: center;
}
.header-notification-container {
  position: relative;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  span:first-child {
    position: absolute;
  }
  div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    padding: 0.5rem;
    border-radius: 50%;
    top: 2px;
    right: 5px;
    span {
      color: rgb(255, 255, 255);
      font-size: 10px;
      line-height: 0;
    }
  }
}