$screen-desktop: 600px;
$fontSize: 14px;

$font-size-xxs: $fontSize * 0.8;
$font-size-xs: $fontSize * 1;
$font-size-s: $fontSize * 1.2;
$font-size-m: $fontSize * 1.4;
$font-size-l: $fontSize * 1.6;
$font-size-xl: $fontSize * 1.8;
$font-size-xxl: $fontSize * 2.4;





$color-dark-primary: rgba(255, 255, 255, 1);
$color-span-dark: rgba(0, 0, 0, 1);
$color-border-primary: rgb(159, 30, 159);
$color-border-secondary: rgba(16, 37, 106, 1);

$color-icon-dark-primary: rgba(255, 255, 255, 1);
$color-icon-dark-secondary: rgba(179, 179, 179, 1);

$color-dark-checkmark-primary: rgba(213, 130, 229, 1);
$color-dark-checkmark-secondary: rgba(33, 150, 243, 1);

$background-color-dark-primary: rgba(31, 45, 61, 1);
$background-color-dark-secondary: rgba(16, 37, 106, 1);

$background-color-dark-page-primary: rgb(25, 66, 105);
